.charge
  &_section
    padding: 0 50px
    +responsive(smartphone)
      padding: 10px
    img
      margin-bottom: 0
      +responsive(smartphone)
        width: 100%
    .hide_button
      // visibility: hidden
      display: none
    label:hover
      cursor: pointer
  &_explanation
    margin-bottom: 50px
    &_title
      margin-bottom: 20px
      +responsive(smartphone)
        width: 50%
    &_message
      margin-bottom: 20px
      img
        width: 100%
    &_flex
      display: flex
      justify-content: space-between
      margin-bottom: 20px
    &_side
      +responsive(smartphone)
        width: 48%
  &_info
    margin-bottom: 50px
    &_title
      +responsive(smartphone)
        width: 50%
        margin-bottom: 20px
    &_flex
      +responsive(pc)
        display: flex
        justify-content: space-between
        margin-bottom: 20px
    &_side
      margin-bottom: 10px
    &_month
      padding-top: 30px
  &_coin
    &_title
      margin-bottom: 20px
      +responsive(smartphone)
        width: 50%
    &_flex
      display: flex
      justify-content: space-between
    &_side
      +responsive(smartphone)
        width: 30%
.charge_stripe
  display: none
