ul
  padding: 0
.murmur
  &_panel
    padding: 10px
  &_user
    position: relative
    margin-top: 20px
    display: flex
  &_datetime
    position: absolute
    bottom: 15%
    left: 21%
  &_body
    padding-top: 20px
    width: 90%
    margin: 0 auto
  &_image
    margin-top: 10px

.user




