ul
  padding: 0
.murmur
  &_profile_section
    padding: 10px
    border: 2px solid $red
    border-radius: 5px
  &_user
    margin-top: 20px
    display: flex
    li
      list-style: none
      margin-right: 10px
      margin-top: 10px
    &_name
      font-weight: bold
      +fontsize(22)
  &_list

  &_title
    background: $gray
    padding: 15px
    +fontsize(26)




