ul
  padding: 0
.murmur
  &_container
    height: 300px
  &_panel
    padding: 0 30px
  &_contributor, &_user
    position: relative
    margin-top: 20px
    display: flex
  &_user
    margin-top: 0
  &_datetime
    position: absolute
    bottom: 15%
    left: 23%
  &_user_murmurList
    position: absolute
    bottom: 10%
    left: 30%
  &_panel_body, &_panel_footer
    padding-top: 20px
  &_panel_footer
    display: flex
    justify-content: space-between
  &_items
    line-height: 3
  &_image
    margin-top: 10px



