.mypage
  &_badges
    text-align: right
    margin-bottom: 24px
    img
      margin-left: 5px
  &_gage_panel
    width: 100%
    margin-bottom: 30px
    border: 2px solid $red
    border-radius: 5px
    padding: 16px
    +responsive(pc)
      display: flex
      justify-content: space-between
    +responsive(smartphone)
      padding: 10px
  &_gage_bar
    width: 65%
    +responsive(smartphone)
      width: 100%
    .progressbar
      background-color: $red
      // border-radius: 5px
  &_profile_label
    background-color: $light-gray
    padding: 10px 30px 10px 30px
    overflow: hidden
    .edit_title
      float: left
      margin-top: 10px
    .edit_button
      float: right
  &_profile_sub_label
    @extend .mypage_profile_label
    background-color: $white
    border-bottom: 1px solid $light-gray
    .edit_title
      float: left
      margin-top: 10px
    .edit_button
      float: right
  &_profile_body
    padding: 10px 10px 0 10px
    +responsive(smartphone)
      padding: 5px
  &_user_communities
    overflow: hidden
  &_user_community
    float: left
    width: 23%
    margin-right: 2%
    padding-bottom: 10px
    &:nth-child(4n)
      margin-right: 0
    .img-radius
      border: 2px solid $red
      border-radius: 5px
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
    img
      width: 100%
      margin: 0
  &_profile_registrate_box
    position: fixed
    display: block
    left: 30%
    top: 50px
    width: 400px
    height: 350px
    background: none
    z-index: 9999
  &_registration-tutorial-bg
    position: absolute
    background: rgba( $black, 0.5 )
    width: 100%
    height: 2300px
    z-index: 1000
    display: block

