.preview_user
  .main, .main li
    margin: 0
    padding: 0
    list-style: none
  .main
    margin-bottom: 30px
  .main li
    width: 400px
    height: 400px
    overflow: hidden
  .main li.item2, .main li.item3, .main li.item4
    display: none
  .main li:hover img
    opacity: 0.8
    filter: alpha(opacity=80)
    -ms-filter: "alpha(opacity=80)"
  .thumb, .thumb li
    width: 100%
    height: auto
  .thumb
    display: flex
    justify-content: space-between
  .thumb li
    width: 22%
    height: auto
    overflow: hidden
    cursor: pointer
    vertical-align: top
    margin-bottom: 4px
  .thumb li img
    width: 100%
    opacity: 0.8
    filter: alpha(opacity=80)
    -ms-filter: "alpha(opacity=80)"
    margin-bottom: 0
  .img-radius
    border: 2px solid $red
    border-radius: 5px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px

.modal
  display:none
  max-height: 90%
.modalBody
  overflow-y: scroll
  position: fixed
  z-index: 1000
  background: #fff
  width: 690px
  left: 50%
  top: 60%
  height: 400px
.modalBK
  position: fixed
  z-index: 999
  height: 100%
  width: 100%
  background: #000
  opacity: 0.9
  filter: alpha(opacity=90)
  -moz-opacity: 0.90
