.profile
  &_section
  &_label
    background-color: $light-gray
    padding: 20px 30px
    .edit_title
  &_body
    padding: 10px
    &_title
      color: #B4479B
      padding: 20px 0
  &_sub_body
    table
      width: 100%
      table-layout: fixed
    tr
      border-bottom: 1px solid $light-gray
    th, td
      padding: 10px 0
