// module読み込まれたら_card.sassに移す
.card
  &_content
    float: left
    width: 244px
    margin-right: 16px
    // width: 224px
    // margin: 20px 10px
    border: 2px solid $red
    border-radius: 10px
    &:nth-child(5)
      margin-right: 0
  &_image
    position: relative
    .img-radius
      border-radius: 10px 10px 0 0
  &_info
    position: absolute
    +display_box(center)
    bottom: 0
    right: 0
  &_body
    width: 100%
    background: $light-gray
  &_sex, &_age, &_address
    margin-right: 5px
    color: white
  &_name
    text-align: center
    font-size: 18px
  &_footer
    padding-bottom: 10px
  &_good
    @extend %button
    @extend %button_red
    @extend %button_large
    display: block
    font-size: 18px
    width: 75%
    margin: 0 auto
