// module読み込まれたら_card.sassに移す
.card
  &_content
    float: left
    width: 240px
    margin: 20px 8px
    border: 2px solid $red
    border-radius: 10px
  &_image
    .img-radius
      border-radius: 10px 10px 0 0
  &_body
    +display_box(center)
    width: 100%
    padding: 4px 10px
    background-color: $light-gray
  &_sex, &_age, &_address, &_name
    margin-right: 5px
  &_footer
    padding: 10px 0
  &_good
    @extend %button
    @extend %button_red
    @extend %button_large
    display: block
    font-size: 18px
    width: 75%
    margin: 0 auto
