.userSignature
  +display_box(center)
  width: 100%
  .user
    &_image
      margin: 0 10px
      width: 20%
      img
        width: 100%
    &_info
      // margin-left: 10px
      +fontsize($font-small)
    &_name
      display: inline
      margin-left: 10px
      font-size: $font-xxlarge
      font-weight: bold
      +responsive(smartphone)
        font-size: $font-medium
        font-weight: normal
      small
        margin-left: 1em
        +fontsize($font-xsmall)
    &_age, &_address
      display: inline
      margin-left: 10px
      font-size: 14px

