.panelList
  &_section
    overflow: hidden
    // padding: 20px
    img
      margin: 0
      width: 100%
  &_search_button
    margin-bottom: 20px
  &_community_section
    overflow: hidden
    padding: 20px
    img
      margin: 0