.tab
  &_header
    padding: 30px 60px
    display: flex
    .select
      background: $red
  &_bottun
    width: 150px
    text-align: center
    background: $light-gray
    color: $white
    font-size: 20px
  &_message
    display: none
  &_content
    #layout_flex
      padding: 0















//     background: #ccc
//     padding: 5px 25px
//     float: left
//     margin-right: 1px
//     &.select
//       background: #eee

// .content li
//   // background: #eee
//   // padding: 20px

// .message
//   display: none
