<%= render 'partial/navbar' %>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="text-center">
        <%= image_tag @user.image, class: "img-circle" %>
      </div>

      <div class="panel panel-default hidden-xs hidden-sm">
        <div class="panel-heading">
          認証済みID
        </div>
        <div class="panel-body">
          <div id="ver-email">
            メールアドレス
          </div>
          <br>
          <div id="ver-tel">
            電話番号
          </div>
          <div id="ver-facebook">
            facebook
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-12">
      <h1>こんにちは</h1>
    </div>
  </div>
</div>

