div
  安全の為のガイド

  マッチングした際、お相手が信頼できるまでは詳細な個人情報を教えないようお願いします。
  下記のような行動で不安・不信と感じられた場合は、無理にコンタクトをとる必要はありません。
  通報をしてください。

  ・メッセージなどで別サイト・アプリ・SNSに誘導してくる
  ・マルチ商法や情報商材などの勧誘、その他営業・宣伝をおこなう
  ・本名・住所・勤務先・メールアドレス・電話番号・クレジットカード番号・銀行口座の情報など詳細な個人情報を聞いてくる
  ・万が一犯罪に巻き込まれそうになったら、警察に届けましょう。

  Lemonを安心・安全にご利用いただくために

  Lemonは健全な出会いの場を提供するサービスです。
  安心・安全なサービス運営を心がけていますが、新しい出会いの場で直接会ったことのない方とマッチングする際はご自身でも自分を守る知識が必要です。
  トラブルにあわないために以下に注意して素敵な出会いを見つけましょう。

  ・信頼できる友人や家族に誰と会うのか、いつ帰宅するかなどを共有しておきましょう。
  ・宿泊が必要な遠方の方とお会いする場合はホテルなどを予約し、会ったことのない人の家に泊まることは避けましょう。
  ・待ち合わせをする時は、利用する人の多い公共の場にし、個室や人気のない場所は避けましょう。
  ・貴重品の管理は徹底しましょう。

  マッチングサービス内でのみやりとりをしていれば、何かあったときでも連絡を断つことができます。
  出来るだけサービス内でのやりとりを心がけましょう。
  Lemomn内でのみやりとりをしていれば、何かあったときでも連絡を断つことができます。
  以下のような個人情報はお相手が信頼できる人だと確信できるまで教えないようにしましょう。
  ・自宅の住所
  ・勤務先の詳細情報
  ・特に以下のような情報は他人には絶対に教えないようにしましょう。
  ・クレジットカード番号、銀行口座の情報
  ・各種パスワードや秘密の質問に使用している母親の旧姓など

  下記サポートセンターまでご連絡ください。
  support@lgbt-lemon.comだね。
  犯罪の可能性が高い場合は、すぐに警察へ届けましょう。